html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("./assets/reg_backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}

body{
  background: none;
  color:white;
}

.popup-content {
  margin: auto;
  color: black;
  background: rgb(255, 255, 255);
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}


[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.board{
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 80vh;
}

.box {

  width: 100px;
  height: 100px;
  color:black;
  opacity: 0;
  font-size: 120px;
  margin: 0;
  padding: 0;
  animation: fall 16s linear infinite;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 97vh);
    opacity: 0;
  }
}


