html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("./assets/reg_backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}

body{
  background: none;
  color:white;
}

.popup-content {
  margin: auto;
  color: black;
  background: rgb(255, 255, 255);
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}


[data-popup='tooltip'].popup-overlay {
  background: transparent;
}


